<h1 class="title">New Post</h1>

<div class="section">
  <%= simple_form_for @post do |f| %>
  <div class="field">
    <div class="control">
      <%= f.input :title, input_html: { class: 'input' }, wrapper: false, lable_html: { class: 'lable'} %>
      </div>
    </div>
  <div class="field">
    <div class="control">
      <%= f.input :content, input_html: { class: 'textarea' }, wrapper: false, lable_html: { class: 'lable'} %>
      </div>
    </div>
    <%= f.button :submit, 'Create new post', class: "button is-primary" %>
    <% end %>
</div>
